.resize-edge {
  position: absolute;
  top: 0;
  width: 6px;
  height: 100%;
  background: transparent;
  z-index: 200;
}

.resize-edge.left {
  left: 0;
  cursor: ew-resize;
}

.resize-edge.right {
  right: 0;
  cursor: ew-resize;
}
